In [1]:
import os
import json
import pandas as pd
import psycopg2

In [2]:
path1="C:/Users/Javid Akthar/Desktop/phonpe/pulse/data/aggregated/insurance/country/india/state/"
aggre_insur_list=os.listdir(path1)

columns1={"States":[],"Years":[],"Quarter":[],"Transaction_type":[],"Transaction_count":[],"Transaction_amount":[]}

for state in aggre_insur_list:
    cur_state=path1+state+"/"
    agg_year_list=os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            A=json.load(data)

            for i in A["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns1["Transaction_type"].append(name)
                columns1["Transaction_count"].append(count)
                columns1["Transaction_amount"].append(amount)
                columns1["States"].append(state)
                columns1["Years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))

aggre_insurance=pd.DataFrame(columns1)

aggre_insurance["States"]=aggre_insurance["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_insurance["States"]=aggre_insurance["States"].str.replace("-"," ")
aggre_insurance["States"]=aggre_insurance["States"].str.title()
aggre_insurance["States"]=aggre_insurance["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [26]:
aggre_insurance["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [3]:
#aggre_transcation

path2="C:/Users/Javid Akthar/Desktop/phonpe/pulse/data/aggregated/transaction/country/india/state/"
aggre_trans_list=os.listdir(path2)

columns2={"States":[],"Years":[],"Quarter":[],"Transaction_type":[],"Transaction_count":[],"Transaction_amount":[]}

for state in aggre_trans_list:
    cur_state=path2+state+"/"
    agg_year_list=os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            B=json.load(data)

            for i in B["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns2["Transaction_type"].append(name)
                columns2["Transaction_count"].append(count)
                columns2["Transaction_amount"].append(amount)
                columns2["States"].append(state)
                columns2["Years"].append(year)
                columns2["Quarter"].append(int(file.strip(".json")))

agg_transaction=pd.DataFrame(columns2)

agg_transaction["States"]=agg_transaction["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
agg_transaction["States"]=agg_transaction["States"].str.replace("-"," ")
agg_transaction["States"]=agg_transaction["States"].str.title()
agg_transaction["States"]=agg_transaction["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [19]:
agg_transaction["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [28]:
agg_transaction

,States,Years,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman & Nicobar,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman & Nicobar,2018,1,Merchant payments,298,4.525072e+05
3,Andaman & Nicobar,2018,1,Financial Services,33,1.060142e+04
4,Andaman & Nicobar,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4669,West Bengal,2024,2,Merchant payments,505063040,3.129978e+11
4670,West Bengal,2024,2,Peer-to-peer payments,393935166,1.182044e+12
4671,West Bengal,2024,2,Recharge & bill payments,80431842,5.118639e+10
4672,West Bengal,2024,2,Financial Services,545945,6.830567e+08
4673,West Bengal,2024,2,Others,504714,4.324746e+08

In [4]:
#aggre_users

path3="C:/Users/Javid Akthar/Desktop/phonpe/pulse/data/aggregated/user/country/india/state/"
aggre_user_list=os.listdir(path3)

columns3={"States":[],"Years":[],"Quarter":[],"Brands":[],"Transaction_count":[],"Percentage":[]}

for state in aggre_user_list:
    cur_state=path3+state+"/"
    agg_year_list=os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            C=json.load(data)
            
            try:
                for i in C["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    columns3["Brands"].append(brand)
                    columns3["Transaction_count"].append(count)
                    columns3["Percentage"].append(percentage)
                    columns3["States"].append(state)
                    columns3["Years"].append(year)
                    columns3["Quarter"].append(int(file.strip(".json")))

            except:
                pass

aggre_users=pd.DataFrame(columns3)

aggre_users["States"]=aggre_users["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_users["States"]=aggre_users["States"].str.replace("-"," ")
aggre_users["States"]=aggre_users["States"].str.title()
aggre_users["States"]=aggre_users["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [22]:
aggre_users["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [14]:
#map insurance
path4="C:/Users/Javid Akthar/Desktop/phonpe/pulse/data/map/insurance/hover/country/india/state/"
map_insur_list=os.listdir(path4)

columns4={"States":[],"Years":[],"Quarter":[],"Districts":[],"Transaction_count":[],"Transaction_amount":[]}

for state in map_insur_list:
    cur_state=path4+state+"/"
    agg_year_list=os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            D=json.load(data)
            
            for i in D["data"]["hoverDataList"]:
                    name=i["name"]
                    count=i["metric"][0]["count"]
                    amount=i["metric"][0]["amount"]
                    columns4["Districts"].append(name)
                    columns4["Transaction_count"].append(count)
                    columns4["Transaction_amount"].append(amount)
                    columns4["States"].append(state)
                    columns4["Years"].append(year)
                    columns4["Quarter"].append(int(file.strip(".json")))

map_insurance=pd.DataFrame(columns4)

map_insurance["States"]=map_insurance["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_insurance["States"]=map_insurance["States"].str.replace("-"," ")
map_insurance["States"]=map_insurance["States"].str.title()
map_insurance["States"]=map_insurance["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [15]:
map_insurance

,States,Years,Quarter,Districts,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2020,2,south andaman district,3,795.0
1,Andaman & Nicobar,2020,2,nicobars district,3,565.0
2,Andaman & Nicobar,2020,3,north and middle andaman district,1,281.0
3,Andaman & Nicobar,2020,3,south andaman district,35,13651.0
4,Andaman & Nicobar,2020,3,nicobars district,5,1448.0
...,...,...,...,...,...,...
12286,West Bengal,2024,2,nadia district,2758,3589423.0
12287,West Bengal,2024,2,birbhum district,1142,1515427.0
12288,West Bengal,2024,2,purba medinipur district,2463,2987090.0
12289,West Bengal,2024,2,maldah district,2731,3446842.0
12290,West Bengal,2024,2,darjiling district,2758,4207151.0

In [30]:
map_insurance["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [6]:
#map_transaction
path5="C:/Users/Javid Akthar/Desktop/phonpe/pulse/data/map/transaction/hover/country/india/state/"
map_trans_list=os.listdir(path3)

columns5={"States":[],"Years":[],"Quarter":[],"Districts":[],"Transaction_count":[],"Transaction_amount":[]}

for state in map_trans_list:
    cur_state=path5+state+"/"
    agg_year_list=os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            E=json.load(data)
            
            for i in E["data"]["hoverDataList"]:
                    name=i["name"]
                    count=i["metric"][0]["count"]
                    amount=i["metric"][0]["amount"]
                    columns5["Districts"].append(name)
                    columns5["Transaction_count"].append(count)
                    columns5["Transaction_amount"].append(amount)
                    columns5["States"].append(state)
                    columns5["Years"].append(year)
                    columns5["Quarter"].append(int(file.strip(".json")))

map_trans=pd.DataFrame(columns5)

map_trans["States"]=map_trans["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_trans["States"]=map_trans["States"].str.replace("-"," ")
map_trans["States"]=map_trans["States"].str.title()
map_trans["States"]=map_trans["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [32]:
map_trans["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [ ]:
columns5

In [7]:
#map user
path6="C:/Users/Javid Akthar/Desktop/phonpe/pulse/data/map/user/hover/country/india/state/"
map_user_list=os.listdir(path6)

columns6={"States":[],"Years":[],"Quarter":[],"Districts":[],"RegisteredUsers":[],"AppOpens":[]}

for state in map_user_list:
    cur_state=path6+state+"/"
    agg_year_list=os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            F=json.load(data)

            for i in F["data"]["hoverData"].items():
                    district=i[0]
                    registeredUsers=i[1]["registeredUsers"]
                    appOpens=i[1]["appOpens"]
                    columns6["Districts"].append(district)
                    columns6["RegisteredUsers"].append(registeredUsers)
                    columns6["AppOpens"].append(appOpens)
                    columns6["States"].append(state)
                    columns6["Years"].append(year)
                    columns6["Quarter"].append(int(file.strip(".json")))

map_user=pd.DataFrame(columns6)

map_user["States"]=map_user["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_user["States"]=map_user["States"].str.replace("-"," ")
map_user["States"]=map_user["States"].str.title()
map_user["States"]=map_user["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [92]:
map_user["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [8]:
#top_insurance
path7="C:/Users/Javid Akthar/Desktop/phonpe/pulse/data/top/insurance/country/india/state/"
top_insur_list=os.listdir(path7)

columns7={"States":[],"Years":[],"Quarter":[],"Pincodes":[],"Transaction_count":[],"Transaction_amount":[]}

for state in top_insur_list:
    cur_state=path7+state+"/"
    agg_year_list=os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            G=json.load(data)

            for i in G["data"]["pincodes"]:
                    entityname=i["entityName"]
                    count=i["metric"]["count"]
                    amount=i["metric"]["amount"]
                    columns7["Pincodes"].append(entityname)
                    columns7["Transaction_count"].append(count)
                    columns7["Transaction_amount"].append(amount)
                    columns7["States"].append(state)
                    columns7["Years"].append(year)
                    columns7["Quarter"].append(int(file.strip(".json")))

top_insurance=pd.DataFrame(columns7)

top_insurance["States"]=top_insurance["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_insurance["States"]=top_insurance["States"].str.replace("-"," ")
top_insurance["States"]=top_insurance["States"].str.title()
top_insurance["States"]=top_insurance["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [94]:
top_insurance["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [9]:
#top_transaction
path8="C:/Users/Javid Akthar/Desktop/phonpe/pulse/data/top/transaction/country/india/state/"
top_tran_list=os.listdir(path8)

columns8={"States":[],"Years":[],"Quarter":[],"Pincodes":[],"Transaction_count":[],"Transaction_amount":[]}

for state in top_tran_list:
    cur_state=path8+state+"/"
    agg_year_list=os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            H=json.load(data)

            for i in H["data"]["pincodes"]:
                    entityname=i["entityName"]
                    count=i["metric"]["count"]
                    amount=i["metric"]["amount"]
                    columns8["Pincodes"].append(entityname)
                    columns8["Transaction_count"].append(count)
                    columns8["Transaction_amount"].append(amount)
                    columns8["States"].append(state)
                    columns8["Years"].append(year)
                    columns8["Quarter"].append(int(file.strip(".json")))

top_transaction=pd.DataFrame(columns8)

top_transaction["States"]=top_transaction["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_transaction["States"]=top_transaction["States"].str.replace("-"," ")
top_transaction["States"]=top_transaction["States"].str.title()
top_transaction["States"]=top_transaction["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [96]:
top_transaction["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [10]:
#top_user
path9="C:/Users/Javid Akthar/Desktop/phonpe/pulse/data/top/user/country/india/state/"
top_user_list=os.listdir(path9)

columns9={"States":[],"Years":[],"Quarter":[],"Pincodes":[],"Registeredusers":[]}

for state in top_tran_list:
    cur_state=path9+state+"/"
    agg_year_list=os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            I=json.load(data)

            for i in I["data"]["pincodes"]:
                    entityname=i["name"]
                    registeredusers=i["registeredUsers"]
                    columns9["Pincodes"].append(entityname)
                    columns9["Registeredusers"].append(registeredusers)
                    columns9["States"].append(state)
                    columns9["Years"].append(year)
                    columns9["Quarter"].append(int(file.strip(".json")))

top_user=pd.DataFrame(columns9)

top_user["States"]=top_user["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_user["States"]=top_user["States"].str.replace("-"," ")
top_user["States"]=top_user["States"].str.title()
top_user["States"]=top_user["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [98]:
top_user["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [11]:
#Table Creation

#SQL Creation

mydb=psycopg2.connect(host="localhost",
                      user="postgres",
                      port=5432,
                      database="phonepe_data",
                      password="1234")
cursor=mydb.cursor()

#aggregated insurance table
create_query_1='''CREATE TABLE if not exists aggregated_insurance(States varchar(255),
                                                 Years int,
                                                 Quarter int,
                                                 Transaction_type varchar(255),
                                                 Transaction_count bigint,
                                                 Transaction_amount bigint)'''
cursor.execute(create_query_1)
mydb.commit()

insert_query_1='''INSERT INTO aggregated_insurance(States, Years, Quarter, Transaction_type, 
                                                    Transaction_count,Transaction_amount)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=aggre_insurance.values.tolist()
cursor.executemany(insert_query_1,data)
mydb.commit()

#aggregated transaction table
create_query_2='''CREATE TABLE if not exists aggregated_transaction(States varchar(255),
                                                 Years int,
                                                 Quarter int,
                                                 Transaction_type varchar(255),
                                                 Transaction_count bigint,
                                                 Transaction_amount bigint)'''
cursor.execute(create_query_2)
mydb.commit()

insert_query_2='''INSERT INTO aggregated_transaction(States, Years, Quarter, Transaction_type, 
                                                    Transaction_count,Transaction_amount)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=agg_transaction.values.tolist()
cursor.executemany(insert_query_2,data)
mydb.commit()

#aggregated User table
create_query_3='''CREATE TABLE if not exists aggregated_user(States varchar(255),
                                                 Years int,
                                                 Quarter int,
                                                 Brands varchar(255),
                                                 Transaction_count bigint,
                                                 Percentage float)'''
cursor.execute(create_query_3)
mydb.commit()

insert_query_3='''INSERT INTO aggregated_user(States, Years, Quarter, Brands, 
                                                    Transaction_count,Percentage)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=aggre_users.values.tolist()
cursor.executemany(insert_query_3,data)
mydb.commit()


#Map insurance table
create_query_4='''CREATE TABLE if not exists map_insurance(States varchar(255),
                                                 Years int,
                                                 Quarter int,
                                                 Districts varchar(255),
                                                 Transaction_count bigint,
                                                 Transaction_amount bigint)'''
cursor.execute(create_query_4)
mydb.commit()

insert_query_4='''INSERT INTO map_insurance(States, Years, Quarter, Districts, 
                                                    Transaction_count,Transaction_amount)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=map_insurance.values.tolist()
cursor.executemany(insert_query_4,data)
mydb.commit()

#Map transaction table
create_query_5='''CREATE TABLE if not exists map_transaction(States varchar(255),
                                                 Years int,
                                                 Quarter int,
                                                 Districts varchar(255),
                                                 Transaction_count bigint,
                                                 Transaction_amount bigint)'''
cursor.execute(create_query_5)
mydb.commit()

insert_query_5='''INSERT INTO map_transaction(States, Years, Quarter, Districts, 
                                                    Transaction_count,Transaction_amount)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=map_trans.values.tolist()
cursor.executemany(insert_query_5,data)
mydb.commit()

#Map User table
create_query_6='''CREATE TABLE if not exists map_user(States varchar(255),
                                                 Years int,
                                                 Quarter int,
                                                 Districts varchar(255),
                                                 RegisteredUsers bigint,
                                                 AppOpens bigint)'''
cursor.execute(create_query_6)
mydb.commit()

insert_query_6='''INSERT INTO map_user(States, Years, Quarter, Districts, 
                                                    RegisteredUsers,AppOpens)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=map_user.values.tolist()
cursor.executemany(insert_query_6,data)
mydb.commit()


#Top  insurance table
create_query_7='''CREATE TABLE if not exists top_insurance(States varchar(255),
                                                 Years int,
                                                 Quarter int,
                                                 Pincodes int,
                                                 Transaction_count bigint,
                                                 Transaction_amount bigint)'''
cursor.execute(create_query_7)
mydb.commit()

insert_query_7='''INSERT INTO top_insurance(States, Years, Quarter, Pincodes, 
                                                    Transaction_count,Transaction_amount)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=top_insurance.values.tolist()
cursor.executemany(insert_query_7,data)
mydb.commit()


#Top  Transaction table
create_query_8='''CREATE TABLE if not exists top_transaction(States varchar(255),
                                                 Years int,
                                                 Quarter int,
                                                 Pincodes int,
                                                 Transaction_count bigint,
                                                 Transaction_amount bigint)'''
cursor.execute(create_query_8)
mydb.commit()

insert_query_8='''INSERT INTO top_transaction(States, Years, Quarter, Pincodes, 
                                                    Transaction_count,Transaction_amount)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=top_transaction.values.tolist()
cursor.executemany(insert_query_8,data)
mydb.commit()

#Top  user table
create_query_9='''CREATE TABLE if not exists top_user(States varchar(255),
                                                 Years int,
                                                 Quarter int,
                                                 Pincodes int,
                                                 Registeredusers bigint)'''
cursor.execute(create_query_9)
mydb.commit()

insert_query_9='''INSERT INTO top_user(States, Years, Quarter, Pincodes, 
                                                    Registeredusers)
                                                    
                                                    values(%s,%s,%s,%s,%s)'''

data=top_user.values.tolist()
cursor.executemany(insert_query_9,data)
mydb.commit()